.vscode/
.venv/
.ultralytics/
yolo_config/
Ultralytics/
__pycache__/
*.pyc
outputs/
yolov8n.pt
yolov8n-seg.pt
*.mp4
*.avi
*.mov

deep_learning_app/dataset/
deep_learning_app/runs/
deep_learning_app/*.pt
head_segmentation_app/dataset/
head_segmentation_app/runs/
head_segmentation_app/outputs/
head_segmentation_app/Ultralytics/
head_segmentation_app/*.pt
head_segmentation_app/datasets/*
!head_segmentation_app/datasets/.gitkeep
!head_segmentation_app/datasets/images/
!head_segmentation_app/datasets/images/.gitkeep
!head_segmentation_app/datasets/labelme/
!head_segmentation_app/datasets/labelme/.gitkeep
style_transfer_app/checkpoints/
style_transfer_app/outputs/
style_transfer_app/datasets/stain_heads/
style_transfer_app/datasets/stain_head_masks/
style_transfer_app/datasets/stain_head_labels/
style_transfer_app/datasets/stain_head_debug/
style_transfer_app/datasets/stain/*
!style_transfer_app/datasets/stain/.gitkeep
style_transfer_app/datasets/transparent/*
!style_transfer_app/datasets/transparent/.gitkeep
style_transfer_app/datasets/transparent_labels/*
!style_transfer_app/datasets/transparent_labels/.gitkeep
