.vscode/
.venv/
.ultralytics/
yolo_config/
Ultralytics/
__pycache__/
*.pyc
outputs/
yolov8n.pt
*.mp4
*.avi
*.mov

deep_learning_app/dataset/
deep_learning_app/runs/
deep_learning_app/*.pt
style_transfer_app/checkpoints/
style_transfer_app/outputs/
style_transfer_app/datasets/stain_heads/
style_transfer_app/datasets/stain_head_masks/
style_transfer_app/datasets/stain_head_labels/
style_transfer_app/datasets/stain_head_debug/
style_transfer_app/datasets/stain/*
!style_transfer_app/datasets/stain/.gitkeep
style_transfer_app/datasets/transparent/*
!style_transfer_app/datasets/transparent/.gitkeep
style_transfer_app/datasets/transparent_labels/*
!style_transfer_app/datasets/transparent_labels/.gitkeep
